<article class="cf pa3 bb b--light-gray bg-white tl flex items-center">
  <h1 class="ma0 f2 dark-gray flex-auto">
    {{link-to team.country_name "team" team class="dark-gray no-underline"}}
  </h1>
  {{#each (list "gold" "silver" "bronze") as |t|}}
    <dl class="ma0 pl3 tr {{t}}">
      <dt class="f6 b ma0">{{classify t}}</dt>
      <dd class="f2 b ma0">{{get team (concat t "_count")}}</dd>
    </dl>
  {{/each}}
</article>
